* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

header {
  background: linear-gradient(to right, #2e8b57, #1e90ff);
  color: white;
  padding: 20px;
  text-align: center;
}

.header-container {
  width: 90%;
  margin: 0 auto;
}

.contact {
  text-align: right;
  font-size: 14px;
}

main {
  width: 90%;
  margin: 30px auto;
}

.projects h2 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.project {
  flex: 1 1 calc(25% - 15px); 
  border: 1px solid #aaa;
  padding: 10px;
}

.project img {
  width: 100%;
  display: block;
  border: 1px solid #777;
}

.project p {
  text-align: center;
  margin-top: 8px;
  font-size: 14px;
}

footer {
  background-color: #2e5744;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list li {
  margin-bottom: 5px;
}


@media (max-width: 900px) {
  .project {
    flex: 1 1 45%;
  }
}

@media (max-width: 600px) {
  .gallery {
    flex-direction: column;
  }

  .project {
    flex: 1 1 100%; 
  }

  .project img {
    border-radius: 10px;
  }
}
